.navbar2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 89%;
    height: 78px;
    margin: 25px 80px 0 80px
}

.navbar2 .img1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    text-decoration: none;
}

.navbar2 .img1 img{
    width: 24px;
    height: 24px;
    opacity: 0.5;
}

.navbar2 h3{
    font-size: 13px;
    margin-top: 7px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity: 0.6;
    color: black;
}

.img1 img:hover{
    opacity: 1;
    cursor: pointer;
}
h3:hover{
    opacity: 1;
    cursor: pointer;
}

.im{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(198, 190, 190);
    border-radius: 10px;
    width: 90px;
    height: 48px;
}

.img1 .im img{
    width: 14px;
    height: 14px;
    opacity: 1;
}

.im h6{
    padding: 5px;
}